{
    "bracketSameLine": true,
    "bracketSpacing": true,
    "htmlWhitespaceSensitivity": "css",
    "printWidth": 80,
    "useTabs": true,
    "tabWidth": 4,
    "singleQuote": true,
    "trailingComma": "all",
    "singleAttributePerLine": true,
    "semi": false
}
